{% extends 'base.html' %}


{% load static %}
{% block content %}
<style>
    .button_border {
        border: 1px solid #68020F;
        color: #68020F;
    }

    .button_border:hover {
        background-color: #68020F;
        color: white;
    }
    thead {
        background-color: #68020F; 
        color: #fff; 
    }
    .form-control{
        border:1px solid #68020F;
    }
    .date-input{
        width: 120px;
    }
    
</style>
<div class="body-wrapper">
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="p-3 mb-5" style="border: 2px solid #68020F; border-radius: 2.5vh; background-color: #FFD6D7;">
            <div id="creditnote_detail_target">
            <div class="mb-3 mb-sm-0">
                <h1 class="modal-title fs-5 p-1" style="color: #68020F; font-weight: 900;">CREDITNOTE</h1>
               <div id="pdfexclude"> 
                <div class="d-flex flex-wrap justify-content-between mb-3">
                    <div class="d-flex flex-wrap">
                        <div class="me-3 mb-2">
                            <label for="fromDate" class="col-form-label">From Date:</label>
                            <input type="date" class="form-control date-input" id="fromDate">
                        </div>
                        <div class="me-3 mb-2">
                            <label for="toDate" class="col-form-label">To Date:</label>
                            <input type="date" class="form-control date-input" id="toDate">
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn button_border me-3" id="addCreditNoteBtn">+ Add Credit Note</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div id="searchdiv">
                        <div class="position-relative">
                            <div class="position-absolute" style="margin-top:0.4rem;margin-left: 0.5rem;">
                                <span class="fa fa-search fs-5 text-danger"></span>
                            </div>
                        </div>
                        <input id="searchInput" style="padding-inline-start: 2rem; width:200%; border: 1px solid #062925;" class="text-dark pt-1 pb-1 pe-1 rounded" type="text" placeholder=" search here..">
                    </div>
                    <div>
                        <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="export_as_excel()" style="color: #FF474D;">
                            <i class="fas fa-file-excel" style="font-size:175%;"></i><br>EXCEL
                        </button>
                        <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="export_as_pdf()" style="color: #FF474D;">
                            <i class="fas fa-file-pdf" style="font-size:175%;"></i><br>PDF
                        </button>
                    </div>
                </div>
               </div> 
                
            </div>
            
            <div class="table-responsive">
                <table id="credittable" class="table table-bordered table-sm mt-3" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                DATE
                                <span class="fa fa-filter ps-1 fs-2"></span>
                            </th>
                            <th>REFERENCE NUMBER<span class="fa fa-filter ps-1 fs-2"></span></th>
                            <th>PARTY NAME<span class="fa fa-filter ps-1 fs-2"></span></th>
                            <th>TYPE<span class="fa fa-filter ps-1 fs-2"></span></th>
                            <th>TOTAL<span class="fa fa-filter ps-1 fs-2"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in creditnotes %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.returndate|date:'Y-m-d'}}</td>
                            <td>{{c.reference_no}}</td>
                            <td>{{c.party.party_name}}</td>
                            <td>{{c.party.payment}}</td>
                            <td>{{c.grandtotal}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span style="font-size: 20px; background:none;">&#8942;</span>
                                    </button>
                                    <div class="btn-group mb-1">
                                        <button style="border: none;background: none;" type="button" class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-ellipsis-v text-dark fs-1 ps-2"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item fw-bold tb" href="">
                                                    <i class="material-icons text-primary" style="font-size: 15px; padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;">edit</i>View / Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item fw-bold tb" type="button" onclick="confirm_delete()">
                                                    <span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;"></span> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'credit_templates' c.id %}">View</a></li>
                                        <li><a class="dropdown-item" href="{% url 'edit_creditnote' c.id %}">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">History</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete_creditnote' c.id %}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

<script>
    $(document).ready(function(){
        var addCreditNoteBtn = $('#addCreditNoteBtn');
        addCreditNoteBtn.click(function(){
            window.location.href="{% url 'SalesReturn' %}"
        });
    });

    $(document).ready(function() {
        $('#searchInput').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('tbody tr').each(function() {
                var rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('#fromDate, #toDate').on('change', function() {
            var fromDate = new Date($('#fromDate').val());
            var toDate = new Date($('#toDate').val());
            
            $('#toDate').attr('min', $('#fromDate').val());

            $('tbody tr').each(function() {
                var date = new Date($(this).find('td:eq(1)').text());
                if ((fromDate <= date && date <= toDate) || 
                    ($('#fromDate').val() === '' && date <= toDate) || 
                    (fromDate <= date && $('#toDate').val() === '')) {
                        $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

    });
</script>

<script>
    function export_as_excel(){
        const table = document.querySelector('#credittable');
        const clonedTable = table.cloneNode(true);
        clonedTable.querySelectorAll('tr').forEach(row => {
            const lastCell = row.lastElementChild;
            if (lastCell) {
                row.removeChild(lastCell);
            }
        });
        const ws = XLSX.utils.table_to_sheet(clonedTable);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'CreditNotes.xlsx');
    }
    function export_as_pdf() {
            document.getElementById('pdfexclude').style.display = 'none'
            const content1 = document.getElementById('creditnote_detail_target');
            html2pdf().from(content1).save('CreditNote.pdf');
            setTimeout(function() {
                document.getElementById('pdfexclude').style.display = 'block'
            }, .01);
        }
</script>

{% endblock %}