{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    input {
        background-color: black;
        color: white;
    }

    .input_border {
        border: 1px solid #68020F;
    }

    a {
        text-decoration: none;
    }

    .nav {
        background-color: rgba(241, 210, 210, 0.5);
    }

    .nav-link {
        font-size: 15px;
        margin-right: 19px;
        color: rgb(130, 127, 127);
        margin-left: -3%;
        font-weight: bold;
    }

    .nav-link:hover {
        color: rgb(130, 127, 127);
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: #68020F;
        color: white;
    }

    .tab-pan {
        background-color: rgb(130, 127, 127);
    }

    .button_border {
        border: 1px solid #68020F;
        color: #68020F;
    }

    .button_border:hover {
        background-color: #68020F;
        color: white;
    }
</style>
<div class="body-wrapper">
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="p-3" style="border: 2px solid #68020F; border-radius: 2.5vh; background-color: #FFD6D7;">
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="" class="form-label">Party Name</label>
                        <div style="display: flex;">
                            <select name="party" id="" class="form-control">
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                            <div class="btn-group" role="group" aria-label="Third group" style="margin-left: 5px;">
                                <button type="button" class="btn button_border" data-bs-toggle="modal"
                                    data-bs-target="#unitmodal" data-bs-whatever="@mdo" onclick="showModal()">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Reference Number</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="modal fade" id="unitmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"
                                        style="color: #68020F; font-weight: 900;">ADD PARTY</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="container">
                                    <div class="modal-body mb-1 pb-1">
                                        <div class="container-fluid">
                                            <form id="unitmodal">
                                                <div class="form-group row">
                                                    <div class="col-md-4">
                                                        <label for="party_name" class="col-form-label">PARTY
                                                            NAME</label>
                                                        <input type="text" class="form-control _border" id=""
                                                            placeholder="Enter Party Name"
                                                            style="border: 2px solid #68020F;" name='party_name'>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="party_address"
                                                            class="col-form-label">ADDRESS</label>
                                                        <input type="text" class="form-control _border" id=""
                                                            placeholder="Enter Party Address"
                                                            style="border: 2px solid #68020F;" name='party_addr'>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="party_name" class="col-form-label">MOBILE</label>
                                                        <input type="text" class="form-control _border" id=""
                                                            placeholder="Enter Mobile Number"
                                                            style="border: 2px solid #68020F;" name='party_num'>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-pills nav-fill mt-3" id="myTabs">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="transactionTab"
                                                            data-bs-toggle="tab" href="#transactionForm"
                                                            onclick="displayTransactionTab()">Transaction</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="creditTab" data-bs-toggle="tab"
                                                            href="#creditForm" onclick="displayCreditForm()">Credit</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="balancesTab" data-bs-toggle="tab"
                                                            href="#balancesForm"
                                                            onclick="displayBalancesForm()">Balances</a>
                                                    </li>
                                                </ul>
                                                <div id="transactionForm" class="tab-pane fade show active p-5" style="background-color: #ffffff;">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label for="trans_no" class="col-form-label">Transaction
                                                                No.</label>
                                                            <input type="text" class="form-control _border" id=""
                                                                placeholder="Enter Transaction Number"
                                                                style="border: 2px solid #68020F;" name='trans_no'>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="address" class="col-form-label">State</label>
                                                            <input type="text" class="form-control _border" id=""
                                                                placeholder="Enter Party Address"
                                                                style="border: 2px solid #68020F;" name='pxarty_addr'>
                                                        </div>
                                                    
                                                    
                                                        <div class="col-md-6">
                                                            <label for="email" class="col-form-label">Email</label>
                                                            <input type="email" class="form-control _border" id=""
                                                                placeholder="Enter EmailId"
                                                                style="border: 2px solid #68020F;" name='email'>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-start mt-5">
                                                        
                                                        <button type="button" class="btn button_border me-3"
                                                            data-bs-dismiss="modal" onclick="displayCreditForm()">NEXT</button>
                                                        
                                                    </div>

                                                </div>

                                                <div id="creditForm" class=""
                                                    style="display: none;margin-top: 3%;">
                                                    <label>Credit Form</label>

                                                    <div class="col-md-12 d-flex justify-content-start mt-5">
                                                        
                                                        <button type="button" class="btn button_border me-3"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn justify-content-end button_border"
                                                            id="unitmodalsubmit">ADD</button>
                                                        
                                                    </div>
                                                    hgg
                                                </div>

                                                <div id="balancesForm" class=""
                                                    style="display: none;margin-top: 3%;">
                                                    <label>Balances Form</label>
                                                    vhvv
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function displayTransactionTab() {
        document.getElementById('transactionForm').style.display = 'block';
        document.getElementById('creditForm').style.display = 'none';
        document.getElementById('balancesForm').style.display = 'none';
    }

    function displayCreditForm() {
        document.getElementById('transactionForm').style.display = 'none';
        document.getElementById('creditForm').style.display = 'block';
        document.getElementById('balancesForm').style.display = 'none';
        
    }
    function displayBalancesForm() {
        document.getElementById('transactionForm').style.display = 'none';
        document.getElementById('creditForm').style.display = 'none';
        document.getElementById('balancesForm').style.display = 'block';
    }
    

</script>
{% endblock %}