{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
    input {
        background-color: black;
        color: white;
    }

    .input_border {
        border: 1px solid #68020F;
    }
    .form-control{
        border:1px solid #68020F;
    }
    a {
        text-decoration: none;
    }

    .nav {
        background-color: rgba(241, 210, 210, 0.5);
    }

    .nav-link {
        font-size: 15px;
        margin-right: 19px;
        color: rgb(130, 127, 127);
        margin-left: -3%;
        font-weight: bold;
    }

    .tab-pan {
        background-color: rgb(130, 127, 127);
    }

    .button_border {
        border: 1px solid #68020F;
        color: #68020F;
    }

    .button_border:hover {
        background-color: #68020F;
        color: white;
    }
    thead {
            background-color: #68020F; 
            color: #fff; 
        }

    .tab-pane{
        display: none;
    }

    .tabContainer .tab-pane{
        display: none;
    }

    .myDropDown{
        flex: 1;
    }
    .select2-container--default .select2-selection--single {

        height: 39px;
        border: 1px solid #68020F;  /* Add border style */
        background-color: #FFD6D7;
        color: white;  /* Add text color */
        display: flex; /* Use Flexbox */
        align-items: center; /* Align vertically in the center */
        padding: 0 2px;
        
    }
  
    .select2-container--default .select2-search--dropdown .select2-search__field {
    color:black;
    background-color: white;
    }

    .small-input{
        width: 90px;
        margin-left: 8px;
    }
    

    input[type="radio"]:checked{
    accent-color: #68020F;
  }

  .input_border{
    border: 1px solid #68020F;
  }

  .tb {
    color: black;
  }

  ::-webkit-scrollbar {
    display: none
  }
  select option:hover{
    background-color: black;
  }

  input[type="radio"]:checked{
    accent-color: #68020F;
  }

  .input_border{
    border: 1px solid #68020F;
  }
</style>
<div class="body-wrapper">
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="p-3 mb-5" style="border: 2px solid #68020F; border-radius: 2.5vh; background-color: #FFD6D7;">
            <div class="card-body">
                <h1 class="modal-title fs-5 p-1" id="exampleModalLabel"
                                    style="color: #68020F; font-weight: 900;">ADD CREDITNOTE</h1>
                    <div class="form-group row">
                        <div class="col-md-6" style="display: flex; margin-top: 10px; margin-left: 10px;">
                            <div class="form-check">  
                                <label style="user-select: none;" class="fs-4 tb" for="partyRadio">
                                    Party ON
                                </label>
                                <input class="me-1" type="radio" name="partystatus" id="partyonRadio" value="partyon" required>
                            </div>
                            <div class="form-check" style="margin-left: 30px;">
                                
                                <label style="user-select: none;" class="fs-4 tb" for="partyRadio">
                                    Party OFF
                                </label>
                                <input class="me-1" type="radio" name="partystatus" id="partyoffRadio" value="partyoff">
                            </div>
                        </div><br>  
                    </div>
                <form class="row g-3 " method="post">
                    {% csrf_token %}
                    <div class="row mt-5">
                        <div class="col-md-4 partyon">
                            <label for="" class="form-label">Party Name</label>
                            <div style="display: flex;">
                                <div class="myDropDown">
                                    <select id="party_name" class="form-control" name="party_name">      
                                        <option value="" selected disabled>Select a party name</option>
                                        {% for party in parties %}
                                        <option value="{{ party.id }}" 
                                        data-phone="{{ party.contact }}" 
                                        data-invoiceno="{{ party.salesinvoice.invoice_no }}"
                                        data-invoicedate="{{ party.salesinvoice.date|date:'Y-m-d' }}"
                                        data-balance="{{party.openingbalance}}"
                                        data-placesupply="{{ party.salesinvoice.address }}"
                                        data-paymethod="{{ party.payment }}">{{ party.party_name }}</option>
                                        {% endfor %}            
                                    </select>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group" style="margin-left: 5px;">
                                    <button type="button" class="btn button_border" id="unitmodalBtn" data-bs-toggle="modal"
                                        data-bs-target="#unitModal" data-bs-whatever="@mdo"
                                        >
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                                
                            </div>
                            <span id="balance">Available Balance:</span>
                        </div>
                        <div class="col-md-4 partyon">
                            <label for="" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="party_phone" name="party_phone">
                            
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Reference Number</label>
                            <input type="text" class="form-control" id="refnum" name="refnum">
                        </div>
                    </div>
                    <div class="row mt-3 partyon" style="display: block;">
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Invoice Number</label>
                            <input type="text" class="form-control" id="invoiceno" name="invoiceno">
                        </div>
                    
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Invoice Date</label>
                            <input type="date" class="form-control" id="invoicedate" name="invoicedate">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Return Date</label>
                            <input type="date" class="form-control" id="returndate" name="returndate" value="{% now 'Y-m-d' %}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Place of Supply</label>
                            <input type="text" class="form-control" id="placesupply" name="placesupply">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefaultUsername" class="form-label">Payment method</label>
                            <input type="text" class="form-control" id="" name="paymethod">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm mt-3" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>PRODUCT</th>
                                    <th>HSN</th>
                                    <th>QTY</th>
                                    <th>PRICE</th>
                                    <th>TAX</th>
                                    <th>DISCOUNT</th>
                                    <th>TOTAL</th>
                                    <th>FIELD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-3">1</td>
                                    <td class="p-3">
                                        <div style="display: flex;">
                                            <div class="myDropDown">
                                                <select id="item_name" class="form-control" name="item_name">      
                                                    <option value="" selected disabled>Select Item</option>
                                                    {% for item in items %}
                                                    <option value="{{ item.id }}" 
                                                    data-hsn="{{ item.itm_hsn }}" 
                                                    data-price="{{ item.itm_sale_price }}"
                                                    data-tax="{{ item.itm_vat }}">{{ item.itm_name }}</option>
                                                    {% endfor %}            
                                                </select>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="Third group" style="margin-left: 5px;">
                                                <button type="button" class="btn button_border" id="itmodalBtn" data-bs-toggle="modal"
                                                    data-bs-target="#itModal" data-bs-whatever="@mdo">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-3"><input type="text" class="form-control small-input hsn-input" id="hsn" name="hsn"></td>
                                    <td class="p-3"><input type="number" class="form-control small-input qty-input" id="qty" name="qty" value="0"></td>
                                    <td class="p-3"><input type="text" class="form-control small-input price-input" id="price" name="price" value="0"></td>
                                    <td class="p-3"><input type="text" class="form-control small-input tax-input" id="tax" name="tax"></td>
                                    <input type="text" class="form-control small-input vatper-input" id="vatper" name="vatper" hidden>
                                    <td class="p-3"><input type="number" class="form-control small-input discount-input" id="discount" name="discount" value="0"></td>
                                    <td class="p-3"><input type="text" class="form-control small-input total-input" id="total" name="total" value="0"></td>
                                    <td class="p-3"><button type="button" class="btn button_border delete-row-button">
                                        <span class="fa fa-minus"></span>
                                    </button></td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <div class="col-md-4">
                            <button type="button" class="btn button_border add-row-button">
                                        <span class="fa fa-plus"></span>
                                    </button>
                        </div>
                    </div>

                    <div class="row p-5 g-3" style="width: 450px; border:1px solid #68020F;margin-left: 10px;">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="validationDefaultUsername" class="form-label">Sub Total</label>
                            
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control subtotal" id="subtotal" name="subtotal">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="validationDefaultUsername" class="form-label">VAT</label>
                            
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="disvatper" name="disvatper">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="validationDefaultUsername" class="form-label">Tax Amount</label>
                            
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control tax_amnt" id="tax_amnt" name="tax_amnt">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="validationDefaultUsername" class="form-label">Adjustment</label>
                            
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control adjustment" id="adjustment" name="adjustment" value="0">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="validationDefaultUsername" class="form-label">Grand Total</label>
                            
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control grandTotal" id="grandTotal" name="grandTotal">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex mt-3">

                        <button type="button" class="btn button_border me-3">SAVE & NEW</button>
                        <button type="submit" class="btn button_border me-3">SAVE</button>

                    </div>

                </form>
                <div class="modal fade" id="unitModal" tabindex="-1" aria-labelledby="exampleModalLabel"aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"
                                    style="color: #68020F; font-weight: 900;">ADD PARTY</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="modal-body mb-1 pb-1">
                                    <div class="container-fluid">
                                        <form id="unitmodalform" action="{% url 'saveParty' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                        <label for="party_name" class="col-form-label">PARTY
                                                            NAME</label>
                                                        <input type="text" class="form-control" id=""
                                                            placeholder="Enter Party Name" name='party_name'>
                                                </div>
                                                <div class="col-md-4">
                                                        <label for="party_address"
                                                            class="col-form-label">GSTIN</label>
                                                        <input type="text" class="form-control" id=""
                                                            placeholder="29APPCK7465F1Z1"
                                                            name='gst_no'>
                                                </div>
                                                <div class="col-md-4">
                                                        <label for="party_name" class="col-form-label">MOBILE</label>
                                                        <input type="text" class="form-control" id=""
                                                            placeholder="Enter Mobile Number"
                                                             name='party_num'>
                                                </div>
                                            </div>
                                            <div class="tabContainer">
                                                <ul class="nav nav-pills nav-fill mt-3" id="myTabs">
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" id="defaultOpen"
                                                                onclick="showPanel(0)">GST & ADDRESS</button>

                                                        </li>
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" id="creditTab"
                                                            onclick="showPanel(1)">CREDIT & BALANCES</button>

                                                        </li>
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" id="balancesTab"
                                                            onclick="showPanel(2)">ADDITIONAL FIELD</button>
                                                        </li>
                                                </ul>
                                                <div id="transactionForm" class="tab-pane p-3" style="margin-top: 3%;">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="state" class="col-form-label">GST Type</label>

                                                                <select class="form-control" name="gsttype" id="gsttype" required>
                                                                    <option selected hidden value="">Select GST Type</option>
                                                                    <option value="Registered Business - Regular"> Registered Business - Regular </option>
                                                                    <option value="Registered Business - Composition"> Registered Business - Composition </option>
                                                                    <option value="unregistered Business"> Unregistered Business </option>
                                                                    <option value="Consumer">Consumer</option>
                                                                    <option value="Overseas">Oversears </option>
                                                                </select>
                                                            </div><br>
                                                            <div>
                                                                <label for="state" class="col-form-label">Supply State</label>
                                                                <input type="text" class="form-control" id=""
                                                                    placeholder="Enter State"
                                                                    name='supp_state'>
                                                            </div><br>
                                                            <div>
                                                                <label for="email" class="col-form-label">Email</label>
                                                                <input type="email" class="form-control" id=""
                                                                    placeholder="Enter EmailId"
                                                                    name='email'>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="address" class="col-form-label">Billing Address</label>
                                                                <textarea class="form-control" id="" placeholder="Enter Party Address"
                                                                    rows="6" name="party_addr"></textarea>
                                                            

                                                            </div>
                                                        </div>
                                                    </div>    
                                        
                                                    <div class="col-md-12 d-flex justify-content-start mt-5">

                                                        <button type="button" class="btn button_border me-3" onclick="showPanel(1)">NEXT</button>


                                                    </div>

                                                </div>

                                                <div id="creditForm" class="tab-pane p-3" style="margin-top: 3%;">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="bal" class="col-form-label">Opening Balance</label></div>
                                                        <div class="col-md-4 mt-2">
                                                            <input type="radio" name="paymentType" value="toReceive" checked>
                                                                To Receive
                                                        </div>
                                                        <div class="col-md-4 mt-2">
                                                            <input type="radio" name="paymentType" value="toPay" checked>
                                                                To Pay
                                                        </div>
                                                    </div><br>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            
                                                            <input type="number" class="form-control" id=""
                                                                placeholder=""
                                                                style="margin-top: 40px;" name='creditamt'>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="creditLimit" class="col-form-label">Credit Limit</label>
                                                            <input type="number" class="form-control" id=""
                                                                placeholder=""
                                                                name='crLimit'>
                                                        </div>
                                                    </div><br>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label for="date" class="col-form-label">Date</label>
                                                            <input type="date" class="form-control" id=""
                                                                placeholder=""
                                                                name='credit_date'>
                                                        </div>
                                                    </div><br>
                                                    <div class="col-md-12 d-flex justify-content-start mt-3">

                                                        <button type="button" class="btn button_border me-3" onclick="showPanel(0)">PREVIOUS</button>
                                                        <button type="button" class="btn button_border me-3" onclick="showPanel(2)">NEXT</button>

                                                    </div>
                                                </div>

                                                <div id="balancesForm" class="tab-pane p-3" style="margin-top: 3%;">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="add1" class="col-form-label">Additional Field1</label>
                                                            <input type="text" class="form-control" id=""
                                                                placeholder=""
                                                                name='addField1'>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="add2" class="col-form-label">Additional Field2</label>
                                                            <input type="text" class="form-control" id=""
                                                                placeholder=""
                                                                name='addField2'>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="add3" class="col-form-label">Additional Field3</label>
                                                            <input type="text" class="form-control" id=""
                                                                placeholder=""
                                                                name='addField3'>
                                                        </div>
                                                        <div class="col-md-12 d-flex justify-content-start mt-5">

                                                            <button type="button" class="btn button_border me-3" onclick="showPanel(1)">PREVIOUS</button>
                                                            <button type="submit" class="btn button_border me-3">SAVE</button>
    
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="itModal" tabindex="-1" aria-labelledby="exampleModalLabel2"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"
                                    style="color: #68020F; font-weight: 900;">ADD ITEM</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="container">
                                <div class="modal-body mb-1 pb-1">
                                    <div class="container-fluid">
                                        <form id="itmodalform" action="{% url 'saveItem' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="d-flex">
                                                    <div class="pt-3 w-50">
                                                      <input type="text" name="itm_type" id="itm_type" hidden>
                                                      <label style="user-select: none;" class="fs-4 tb" for="goods">Goods</label>
                                                      <input id="goods" class="me-3 " type="radio" name="item_ty" required>
                                                      <label style="user-select: none;" class="fs-4 tb" for="service">Services</label>
                                                      <input id="service" type="radio" name="item_ty" required>
                                                    </div>
                                                    <div class="mb-3 w-50">
                                                      <label class="fw-bold tb fs-3" for="">NAME</label><br>
                                                      <input style="color: black;" class="form-control mt-2 input_border text-black" type="text" placeholder="Enter Item Name" autocomplete="off" name="name" >
                                                    </div>
                                                  </div>
                                                <div class="col-md-6">
                                                    <label for="item_hsn" class="col-form-label">ITEM HSN</label>
                                                    <input type="number" class="form-control" id="" name='item_hsn'>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="col-form-label" for="item_unit">UNIT</label>
                                                    <div style="display: flex;">
                                                        <div class="myDropDown">
                                                            <select class="form-control" id="item_unit" name="item_unit">
                                                                <option value="" selected disabled>Select an option</option>
                                                                <option value="Numbers">Numbers</option>
                                                                <option value="Packages">Packages</option>
                                                                <option value="Box">Box</option>
                                                                {% for i in unit %}
                                                                <option value="{{ i.unit_name }}">{{ i.unit_name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="btn-group" role="group" aria-label="Third group" style="margin-left: 5px;">
                                                            <button type="button" class="btn button_border" data-bs-toggle="modal" data-bs-target="#unitsModal" data-bs-whatever="@mdo">
                                                            <span class="fa fa-plus" ></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tabContainer2">
                                                <ul class="nav nav-pills nav-fill mt-3" id="myTabs2">
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" id="defaultOpen2"
                                                                onclick="showPanel2(0)">PRICING</button>

                                                        </li>
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" id="stockTab"
                                                            onclick="showPanel2(1)">STOCKS</button>

                                                        </li>
                                            
                                                </ul>
                                                <div id="pricingForm" class="tab-pane p-3" style="margin-top: 3%;">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <div class="pt-1 mb-4" >
                                                                <input type="text" name="taxable_result" id="taxable_result" hidden>
                                                                <label style="user-select: none;" class="fs-4 tb" for="item_tax_1">Tax</label> &nbsp;
                                                                <input id="item_tax_1" class="me-3" type="radio" name="item_tax_result" required>
                                                                <label style="user-select: none;" class="fs-4 tb" for="item_tax_2">Tax Excempted</label>&nbsp;
                                                                <input id="item_tax_2" type="radio" name="item_tax_result" required>
                                                              </div>
                                          
                                                              <div id="vatdiv" class="mb-2 pt-3" hidden>
                                                                  <label class="fw-bold tb fs-3" for="">VAT</label><br>
                                                                  <input type="text" class="form-control mt-1 input_border text-black" name="vat" id='vat'>
                                                              </div>
                                                        </div><br>  
                                                    </div>
                                                    <div class="taxable-fields">
                                                    <div class="form-group row mt-3">    
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="saleprice" class="col-form-label">SALES PRICE</label>
                                                                <input type="number" class="form-control" id="" name='item_slprice'>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="purchase" class="col-form-label">PURCHASE PRICE</label>
                                                                <input type="number" class="form-control" id="" name='item_prprice'>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-start mt-5">
                                                        <button type="button" class="btn button_border me-3" onclick="showPanel2(1)">NEXT</button>
                                                    </div>
                                                </div>

                                                <div id="stockForm" class="tab-pane p-3" style="margin-top: 3%;">
                                                    <div class="form-group row">    
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="opstock" class="col-form-label">OPENING STOCK</label>
                                                                <input type="number" class="form-control" id="" name='item_opstock'>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="atprice" class="col-form-label">AT PRICE</label>
                                                                <input type="number" class="form-control" id="" name='item_atprice'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mt-3">    
                                                        <div class="col-md-6">
                                                            <div>
                                                                <label for="stdate" class="col-form-label">DATE</label>
                                                                <input type="date" class="form-control" id="" name='item_stdate' value="{% now 'Y-m-d' %}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-start mt-5">

                                                        <button type="button" class="btn button_border me-3" onclick="showPanel2(0)">PREVIOUS</button>
                                                        <button type="submit" class="btn button_border me-3">SAVE</button>

                                                    </div>
                                                </div>

                                            
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                  
                </div>
                <div class="modal fade" id="unitsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #68020F; font-weight: 900;">ADD UNIT</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body mb-1 pb-1">
                          <form class="mb-0" id="unitsModal">
                            <div class="mb-3">
                              <label for="unit_name" class="col-form-label">UNIT</label>
                              <input type="text" class="form-control _border" id="unit_name" placeholder="Enter Unit" style="border: 2px solid #68020F;" name='unit_name'>
                            </div>
                            <div class="m-0 text-center">
                              <label for="message-text" class="col-form-label  text-danger fw-lighter">Example : PCS/BOX/LITER</label>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center mt-1">
                          <button type="button" class="btn ps-5 pe-5 button_border" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn ps-5 pe-5 button_border" id="unitmodalsubmit">ADD</button>
                        </div>
                      </div>
                    </div>
                  
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        function getCreditNoteCount() {
        $.ajax({
            url: "{% url 'credit_note_count' %}",
            success: function (response) {
                var referenceNumber = response.creditNoteCount > 0 ? response.creditNoteCount + 1 : 1;
                $('input[name="refnum"]').val(referenceNumber);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching credit note count:", error);
            }
        });
    }
    
    // Call the function to fetch credit note count when the document is ready
    getCreditNoteCount();

        $('#party_name').select2();
        $('#item_name').select2();
        $('#balance').hide();
        $('#party_name').on('change', function () {
            var selectedParty = $(this).find(':selected');

            if (selectedParty.length) {
                $('#balance').text('Available Balance: ' + selectedParty.data('balance')).show();
                $('#party_phone').val(selectedParty.data('phone'));
                $('#invoiceno').val(selectedParty.data('invoiceno'));
                $('#invoicedate').val(selectedParty.data('invoicedate'));
                $('#placesupply').val(selectedParty.data('placesupply'));
                $('#balance').val(selectedParty.data('balance'));
                $('input[name="paymethod"]').val(selectedParty.data('paymethod'));
            } else {
                $('#balance').hide();
            }
        });

        var partyonRadio = document.getElementById('partyonRadio');
        var partyoffRadio = document.getElementById('partyoffRadio');
        var partyonFields = document.querySelectorAll('.partyon');

        function togglepartyonFields() {
            var displayValue = partyonRadio.checked ? 'block' : 'none';
            partyonFields.forEach(function (field) {
                field.style.display = displayValue;
            });
        }

        partyonRadio.addEventListener('change', togglepartyonFields);
        partyoffRadio.addEventListener('change', togglepartyonFields);

        togglepartyonFields();

        $(document).on('change', 'select[name="item_name"]', function () {
            var selectedItem = $(this).find(':selected');
            var parentRow = $(this).closest('tr');

            if (selectedItem.length) {
                parentRow.find('input[name="hsn"]').val(selectedItem.data('hsn'));
                parentRow.find('input[name="qty"]').val(selectedItem.data('qty'));
                parentRow.find('input[name="price"]').val(selectedItem.data('price'));
                parentRow.find('input[name="tax"]').val(selectedItem.data('tax'));
            }
        });

        $('.add-row-button').on('click', function () {
            addNewRow();
        });

        $(document).on('click', '.delete-row-button', function () {
            $(this).closest('tr').remove();
        });

        // Store the default options of the item name select element
        var defaultItemOptions = $('#item_name option:not([disabled])').clone();

        // Function to add new row
        function addNewRow() {
            var serialNumber = $('.table tbody tr').length + 1;

            var newRow = `
                <tr>
                    <td class="p-3">${serialNumber}</td>
                    <td class="p-3">
                        <div style="display: flex;">
                            <div class="myDropDown">
                                <select id="item_name_${serialNumber}" class="form-control item-name" name="item_name">
                                    <option value="" selected disabled>Select Item</option>
                                </select>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group" style="margin-left: 5px;">
                                <button type="button" class="btn button_border itmodalBtn" data-bs-toggle="modal" data-bs-target="#itModal" data-bs-whatever="@mdo">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="p-3"><input type="text" class="form-control small-input hsn-input" id="hsn_${serialNumber}" name="hsn"></td>
                    <td class="p-3"><input type="number" class="form-control small-input qty-input" id="qty_${serialNumber}" name="qty" value="0"></td>
                    <td class="p-3"><input type="text" class="form-control small-input price-input" id="price_${serialNumber}" name="price" value="0"></td>
                    <td class="p-3"><input type="text" class="form-control small-input tax-input" id="tax_${serialNumber}" name="tax"></td>
                    <input type="text" class="form-control small-input vatper-input" id="vatper_${serialNumber}" name="vatper" hidden>
                    <td class="p-3"><input type="number" class="form-control small-input discount-input" id="discount_${serialNumber}" name="discount" value="0"></td>
                    <td class="p-3"><input type="text" class="form-control small-input total-input" id="total_${serialNumber}" name="total" value="0"></td>
                    <td class="p-3"><button type="button" class="btn button_border delete-row-button">
                        <span class="fa fa-minus"></span>
                    </button></td>
                </tr>
            `;

            $('.table tbody').append(newRow);
            
            $('#item_name_' + serialNumber).append(defaultItemOptions.clone());
            initializeSelect2ForItemName(serialNumber);
        }

        function initializeSelect2ForItemName(id) {
            $('#item_name_' + id).select2();
        }

        $('#unitmodalBtn').on('click', function (event) {
            $('#unitModal').modal('show');
        });

        $('#itmodalBtn').on('click', function (event) {
            $('#itModal').modal('show');
        });


        $(document).on('click', '#unitmodalsubmit', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'create_unit' %}",
                data: {
                    unit_name: document.getElementById('unit_name').value
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (response) {
                    $("#unitsModal").hide();
                    $(".modal-backdrop").remove();
                    document.getElementById('unit_name').value = ''
                    var dropdown = $('#item_unit');
                    dropdown.append(`<option value='${response.unit_name}'>${response.unit_name}</option>`);
                    $('#itModal').modal('show');
                },
            });
        });

        $(document).ready(function(){
            $('#goods').on('click',function(){
                $('#itm_type').val('Goods')
            })
        });

        $(document).ready(function(){
            $('#service').on('click',function(){
                $('#itm_type').val('Service')
            })
        });

        $(document).ready(function(){
            $('#item_tax_1').on('click',function(){
                $('#vatdiv').attr('hidden',false)
                $('#vat').val('VAT 5%')
            });
        });

        $(document).ready(function(){
            $('#item_tax_2').on('click',function(){
                $('#vatdiv').attr('hidden',false)
                $('#vat').val('VAT 0%')
            });
        });

        $(document).ready(function(){
            $('#item_tax_1').on('click',function(){
                $('#taxable_result').val('Taxable')
            });
        });

        $(document).ready(function(){
            $('#item_tax_2').on('click',function(){
                $('#taxable_result').val('Non Taxable')
            });
        });

        var tabButtons=document.querySelectorAll(".tabContainer .nav .nav-item button");
        var tabPanels=document.querySelectorAll(".tabContainer .tab-pane");

        function showPanel(panelIndex){
            tabButtons.forEach(function(node){
                node.style.backgroundColor="";
                node.style.color="";
            });
            tabButtons[panelIndex].style.backgroundColor= "#68020F";
            tabButtons[panelIndex].style.color= "white";
            tabPanels.forEach(function(node){
                node.style.display="none";
            });
            tabPanels[panelIndex].style.display="block";
        }
        showPanel(0);

        var tabButtons2=document.querySelectorAll(".tabContainer2 .nav .nav-item button");
        var tabPanels2=document.querySelectorAll(".tabContainer2 .tab-pane");

        function showPanel2(panelIndex){
            tabButtons2.forEach(function(node){
                node.style.backgroundColor="";
                node.style.color="";
            });
            tabButtons2[panelIndex].style.backgroundColor= "#68020F";
            tabButtons2[panelIndex].style.color= "white";
            tabPanels2.forEach(function(node){
                node.style.display="none";
            });
            tabPanels2[panelIndex].style.display="block";
        }
        showPanel2(0);

        function calculateTotal(row) {
            var qty = parseFloat(row.find('.qty-input').val());
            var price = parseFloat(row.find('.price-input').val());
            var discount = parseFloat(row.find('.discount-input').val());

            var total=qty*price-discount;
            var vatper=total*'0.05';
            row.find('.total-input').val(total); 
            row.find('.vatper-input').val(vatper);
        }
        $(document).on('input','.qty-input, .price-input, .discount-input,.adjustment', function(){
            var row=$(this).closest('tr');
            calculateTotal(row);
            calculateSubtotal();
            calculateTax();
            calculateGrandtotal();
        });

        function calculateSubtotal(){
            var subtotal = 0;
            $('.table tbody tr').each(function() {
                var total = parseFloat($(this).find('.total-input').val());
                if (!isNaN(total)) {
                    subtotal += total;
                }
            });
            $('#subtotal').val(subtotal.toFixed(2)); 
        }

        function calculateTax(){
            var totalTax = 0;
            $('.table tbody tr').each(function() {
                var total = parseFloat($(this).find('.total-input').val());
                var tax=total*0.05;
                totalTax+=tax;
            });
            $('#disvatper').val(totalTax); 
            $('#tax_amnt').val(totalTax.toFixed(2));
        }

        function calculateGrandtotal(){
            var grandtotal=0;
            var subtotal=parseFloat($('.subtotal').val());
            var vat=parseFloat($('.tax_amnt').val());
            var adj=parseFloat($('.adjustment').val());
            grandtotal=subtotal+vat+adj;
            $('#grandTotal').val(grandtotal.toFixed(2))
        }
        
        

        
    });
</script>
{% endblock %}